[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-watch = "*"
pytest-testmon = "*"
mock = "*"
hypothesis = "*"

[packages]

[requires]
python_version = "3.10"
